@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.space::before {
    content: ' ';
    white-space: pre;
}

@keyframes highlight {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
